@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till</h1>
    <img src="~/images/garage_3_logo.PNG" width="400px"/>
    <p><h4>Använd länkarna i menyn för att navigera</h4>
    </p>
</div>
