@model Garage_3.Models.Vehicle

@{
    ViewData["Title"] = "Park";
}

<h1>Parkera</h1>

<h4>Välj ett fordon i listan</h4>
<hr />


<div>
    <a asp-action="Index">Tillbaka till alla fordon</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
