@model IEnumerable<Garage_3.Models.ViewModel.ColorViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Alla färger</h1>
<p>
    Färger som används av fordon kan inte raderas.
</p>
<p>
    <a asp-action="Create">Ny färg</a>
</p>
<div class="col-md-5">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ColorName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ColorName)
                    </td>
                    <td>
                        <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Ändra</a>

                        @if (item.IsUsed == false)
                        {
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Radera</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>