@model IEnumerable<Garage_3.Models.ViewModel.VehicleTypeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Fordonstyper</h1>
<p>
    Använda fordonstyper går inte att radera.
</p>

<p>
    <a asp-action="Create">Ny fordonstyp</a>
</p>
<div class="col-md-5">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleTypeName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleTypeName)
                    </td>
                    <td>
                        <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Ändra</a>

                        @if (item.IsUsed == false)
                        {
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Radera</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>